body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotronVito {
  text-align: left;
  background-color: transparent;
  color: inherit;
  margin-bottom: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.jumbotronVito > h1{
  font-size:50px;
  font-weight:bold;
}
.jumbotronVito > p{
  font-size:17px;
}
.titoloArticolo{
  font-weight:bold;
}
.titoloArticolo > a, .titoloArticolo > a:hover, .titoloArticolo > a:visited{
  color:black;
  text-decoration:none;
}

.inputErrore{
	border-color:#db1a10;
	border-style:solid;
	border-width:1px;
	box-shadow:  0 1px 1px rgba(160, 44, 42, 0.6) inset,0 0 15px rgba(160, 44, 42, 0.6);
}

.titoloArticolo > span{
  padding-left:10px;
}
.previewArticolo{
  text-align:justify;
  font-size: 14pt;
  font-style: italic;
}
.previewArticolo > a, .previewArticolo > a:hover, .previewArticolo > a:visited{
  color:black;
  text-decoration:none;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.dateFormat{
	width:150px;
}
